beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
cycler==0.10.0
decorator==4.1.2
Django==1.11.4
dl==0.1.0
docutils==0.14
Flask==0.12.2
graphviz==0.8.1
idna==2.6
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.3.0
Kivy==1.10.0
Kivy-Garden==0.1.4
kivy.deps.glew==0.1.9
kivy.deps.sdl2==0.1.17
lxml==3.8.0
MarkupSafe==1.0
matplotlib==2.1.0
mkl==2018.0.0
mplayer.py==0.7.1
nbformat==4.4.0
networkx==2.0
numpy==1.13.1
olefile==0.44
pafy==0.5.3.1
Pillow==4.3.0
plotly==2.1.0
psycopg2==2.7.3.2
Pygments==2.2.0
pyparsing==2.2.0
pyperclip==1.5.27
pypiwin32==220
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
selenium==3.5.0
six==1.11.0
spotipy==2.4.4
traitlets==4.3.2
urllib3==1.22
Werkzeug==0.14.1
